<section class="gallery-section">
  <div class="container">
    <div class="gallery-section__wrapper">
      <ul class="gallery__list">
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/baby.jpg" alt="baby" width="470"
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/cake-1.jpg" alt="cake" width="470"
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img
              src="./images/gallery/corporat.jpg"
              alt="cakes in hands"
              width="470"
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img
              src="./images/gallery/holiday.jpg"
              alt="cakes holiday"
              width="470"
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img
              src="./images/gallery/pancakes.jpg"
              alt="pancakes"
              width="470"
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img
              src="./images/gallery/cookies-5.jpg"
              alt="cookies"
              width="470"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
