<section class="gallery">
  <div class="container">
    <div class="gallery__wrapper">
      <ul class="gallery__list">
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/baby.jpg" alt=""
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/cake-1.jpg" alt=""
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/corporat.jpg" alt=""
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/holiday.jpg" alt=""
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/pancakes.jpg" alt=""
          /></a>
        </li>
        <li class="gallery__list--item">
          <a href="" class="gallery__list--link"
            ><img src="./images/gallery/cookies-5.jpg" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
