<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo"><a href="#">Studio Cake</a></div>

      <nav class="navigate">
        <ul class="navigate__list">
          <li class="navigate__item"><a href="">Торти</a></li>
          <li class="navigate__item"><a href="">Начинки</a></li>
          <li class="navigate__item"><a href="">Для свята</a></li>
          <li class="navigate__item"><a href="">Контакти</a></li>
        </ul>
      </nav>

      <ul class="socials">
        <li class="socials__item">
          <a href="#"
            ><svg width="20" height="20">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#"
            ><svg width="20" height="20">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="header__contacts">
        <a href="tel:+380630001488" class="header__contacts--link">
          <svg width="30" height="30" class="header__contacts--icon">
            <use href="./images/sprite.svg#icon-phone-call"></use>
          </svg>
          (063)000-14-88</a
        >
      </div>
    </div>
  </div>
</header>
