.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: $second-text-color;

    @include desktop {
        padding: 26px 0;
    }

    @include before-desktop {
        padding: 24px 0;
    }

    @include desktop-1050 {
        padding: 22px 0;
    }

}

.logo {
    font-weight: 400;
    font-size: 50px;

    @include desktop {
        font-size: 40px;
    }

    @include before-desktop {
        font-size: 35px;
    }

    @include tablet {
        font-size: 28px;
    }
    
}

.navigate {

    @include mobile {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 22px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include desktop {
            font-size: 14px;
            column-gap: 20px;
        }

        @include before-desktop {
            font-size: 12px;
            column-gap: 18px;
        }

        @include desktop-1050 {
            column-gap: 16px;
        }

        @include tablet {
            column-gap: 13px;
        }
    }

    &__item {
        transition: color $transition-time $cubic;
    }

    &__item:hover,
    &__item:focus {
        color: $accent-color;
    }
}

.socials {
    display: flex;
    align-items: center;
    column-gap: 20px;
    fill: $second-text-color;

    @include mobile {
            display: none;
        }

    &__item {
        transition: fill $transition-time $cubic;
    }

    &__item:hover,
    &__item:focus {
        fill: $accent-color;
    }

    @include desktop {
        column-gap: 18px;
    }

    @include before-desktop {
        column-gap: 16px;
    }

    @include desktop-1050 {
        column-gap: 14px;
    }

    @include tablet {
        column-gap: 10px;
    }
}

.header__socials--icon {

    @include desktop-1050 {
            width: 17px;
            height: 17px;
        }

    @include tablet {
            width: 15px;
            height: 15px;
        }
}

.header__contacts {
   
    font-weight: 500;
    font-size: 19px;
    line-height: 1.21;


    @include mobile {

    display: none;

    }

    &--icon {
        fill: $accent-color;

        @include desktop-1050 {
            width: 25px;
            height: 25px;
        }

        @include tablet {
            width: 20px;
            height: 20px;
        }
    }

    @include desktop {
        font-size: 17px;
    }

    @include before-desktop {
        font-size: 15px;
    }

    @include desktop-1050 {
        column-gap: 12px;
    }

    @include tablet {
        column-gap: 10px;
    }
}

 .header__contacts--link {
     display: flex;
     align-items: center;
     column-gap: 15px;

    @include desktop {
        column-gap: 13px;
    }

    @include before-desktop {
        column-gap: 11px;
    }

    @include desktop-1050 {
        column-gap: 9px;
    }

    @include tablet {
        column-gap: 8px;
    }
 }

