$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;

// Colors
$accent-color: #07d4b2;
$first-text-color: #333333;
$second-text-color: #FFFFFF;
$first-background-color: #F5F5F5;
$footer-background-color: #FEFEFE;
$dark-background-color: #404040;