<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__logo">
        <div class="logo logo-color"><a href="#">Studio Cake</a></div>
        <p>Перша кондитерська студія твого серця!</p>
      </div>
      <div class="footer__menu">
        <h3 class="footer__title">Меню</h3>
        <ul class="footer__menu--list">
          <li><a href="">Дитячі торти</a></li>
          <li><a href="">Весільні тори</a></li>
          <li><a href="">Корпоративні торти</a></li>
          <li><a href="">Святкові торти</a></li>
          <li><a href="">Капкейки</a></li>
        </ul>
      </div>
      <div class="footer__contacts">
        <h3 class="footer__title">Контакти</h3>
        <address>
          <ul class="footer__contacts--list">
            <li>Київ, бульвар Кольцова, 14ж</li>
            <li>
              <a href="tel:+380630001488">(063)000-14-88</a>
            </li>
            <li>
              <a href="mailto:cakes@gmail.com">cakes@gmail.com</a>
            </li>
            <li>Кожного дня з 9.00 до 18.00</li>
          </ul>
        </address>
      </div>
      <div class="footer__descr">
        <h2 class="footer__title">Хто ми</h2>
        <p>
          Кондитерська студія, яка вже не один рік радує своїх клієнтів,
          виготовляючи найкращі торти на замовлення на будь-яке свято.
        </p>
      </div>
    </div>
    <ul class="social__footer">
      <li class="social__foter--item">
        <a href="#"
          ><svg width="20" height="20" class="social__footer--icon">
            <use href="./images/sprite.svg#icon-face-footer"></use>
          </svg>
        </a>
      </li>
      <li class="social__foter--item">
        <a href="#"
          ><svg width="20" height="20" class="social__footer--icon">
            <use href="./images/sprite.svg#icon-inst-footer"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="scroll-up">&#129121;</div>
  </div>
</footer>
