<section class="advices">
  <div class="container">
    <div class="advices__wrapper">
      <div class="choice">
        <h2 class="choice__title">Як вибрати торт на замовлення?</h2>
        <p class="choice__rec">
          Щоб вибрати торт на замовлення, дотримуйтесь таких порад.
        </p>
        <ol class="choice-wrap">
          <li class="rec">
            Переконайтеся, що кондитерська, яку Ви обрали, справді настільки
            хороша, як здається. Найкращий спосіб - це почитати відгуки. Вони
            часто зустрічаються на сайті кондитерської, але не факт, що це
            відгуки реальних людей. Тоді краще звернутися до пошукових систем.
          </li>
          <li class="rec">
            Вивчіть сайт, асортимент. Наскільки великий вибір різних варіантів,
            чи фотографії тортів попередніх робіт, оцініть їх.
          </li>
          <li class="rec">
            Готуєтеся до великого свята на кшталт весілля чи корпоративу, а
            можливо день народження з великою кількістю гостей? Поцікавтеся чи є
            можливість дегустації.
          </li>
          <li class="rec">Дізнайтесь чи можливість доставки.</li>
        </ol>
        <p>
          Ці нескладні рекомендації допоможуть Вам вибрати найкращий тортик, у
          такий важливий день.
        </p>
      </div>
      <div class="choice-2">
        <h2 class="choice__title">Які начинки для торта на замовлення?</h2>
        <p>
          При оформленні замовлення Ви можете вибрати будь-яку доступну начинку.
          Від класичних варіантів, до ексклюзивних. Доступні такі начинки для
          торта:
        </p>
        <ol class="feel-list">
          <li>Фруктова</li>
          <li>Творожна</li>
          <li>Шоколадна</li>
          <li>Ванільна вишня</li>
          <li>Вишня в шоколаді</li>
          <li>Горіхова</li>
          <li>Манго-малина</li>
          <li>Снікерс</li>
          <li>Рафаелло</li>
          <li>Апельсинова</li>
          <li>Полунична</li>
        </ol>
        <h3 class="choice__title">
          Чи можна забрати інгредієнти, на які у мене непереносимість?
        </h3>
        <p>
          Якщо у вас є непереносимість або алергія на певні інгредієнти, цей
          момент можна обговорити по телефону.
        </p>
      </div>
    </div>
  </div>
</section>
