<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero_row">
        <h1 class="hero__title">Смачні торти на замовлення</h1>
        <ul class="hero__list">
          <li class="hero__list--item">
            <a href="" class="hero__list--link">
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-call-back"></use>
              </svg>
              <span class="hero__list--text">Подзвоніть мені</span>
            </a>
          </li>
          <li class="hero__list--item">
            <a
              href="https://www.google.com/maps/place/%D0%9C%D0%B0%D1%81%D1%82%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F+StudioCake+-+%D0%B8%D0%B7%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5+%D1%82%D0%BE%D1%80%D1%82%D0%BE%D0%B2+%D0%B8+%D0%BA%D0%B0%D0%BF%D0%BA%D0%B5%D0%B9%D0%BA%D0%BE%D0%B2+%D0%BD%D0%B0+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7/@50.4230073,30.3820147,15z/data=!4m5!3m4!1s0x0:0x33493f310d40f60f!8m2!3d50.4230073!4d30.3820147"
              class="hero__list--link"
              target="_blank"
            >
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-location-pin"></use>
              </svg>
              <span class="hero__list--text">Як проїхати</span>
            </a>
          </li>
          <li class="hero__list--item">
            <a href="" class="hero__list--link">
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-favourite"></use>
              </svg>
              <span class="hero__list--text">Відгуки клієнтів</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <video autoplay loop muted playsinline webkit-playinginline class="video">
      <source src="./images/cakes.mp4" type="video/webm" />
      <source src="./images/cakes.mp4" type="video/mp4" />
      <source src="./images/cakes.mp4" type="video/ogg" />
    </video>
  </div>
</section>
