<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero_row">
        <h1 class="hero__title">Смачні торти на замовлення</h1>
        <ul class="hero__list">
          <li class="hero__list--item">
            <a href="" class="hero__list--link">
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-call-back"></use>
              </svg>
              <span class="hero__list--text">Подзвоніть мені</span>
            </a>
          </li>
          <li class="hero__list--item">
            <a href="" class="hero__list--link">
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-location-pin"></use>
              </svg>
              <span class="hero__list--text">Як проїхати</span>
            </a>
          </li>
          <li class="hero__list--item">
            <a href="" class="hero__list--link">
              <svg width="30" height="30" class="header__contacts--icon">
                <use href="./images/sprite.svg#icon-favourite"></use>
              </svg>
              <span class="hero__list--text">Відгуки клієнтів</span>
            </a>
          </li>
        </ul>
      </div>
      <video autoplay loop muted class="video">
        <source src="./images/cakes.mp4" type="video/webm" />
        <source src="./images/cakes.mp4" type="video/mp4" />
        <source src="./images/cakes.mp4" type="video/ogg" />
      </video>
    </div>
  </div>
</section>
