<section class="photos">
  <div class="container">
    <div class="photos__container">
      <h2 class="photos__title">Фото зі свят</h2>
      <ul class="gallery">
        <li class="gallery__item--1">
          <img src="./images/photos/el-1.jpg" alt="men with cake" />
        </li>
        <li class="gallery__item--2">
          <img src="./images/photos/el-2.jpg" alt="men with cake" />
        </li>
        <li class="gallery__item--3">
          <img src="./images/photos/el-3.jpg" alt="men with cake" />
        </li>
        <li class="gallery__item--4">
          <img src="./images/photos/el-4.jpg" alt="cake" />
        </li>
        <li class="gallery__item--5">
          <img src="./images/photos/el-5.jpg" alt="decoration cake" />
        </li>
        <li class="gallery__item--6">
          <img src="./images/photos/el-6.jpg" alt="decoration cake" />
        </li>
        <li class="gallery__item--7">
          <img src="./images/photos/el-7.jpg" alt="decoration cake" />
        </li>
        <li class="gallery__item--8">
          <img src="./images/photos/el-8.jpg" alt="dominos cake" />
        </li>
        <li class="gallery__item--9">
          <img src="./images/photos/el-9.jpg" alt="boy with cake" />
        </li>
        <li class="gallery__item--10">
          <img src="./images/photos/el-10.jpg" alt="family with cake" />
        </li>
        <li class="gallery__item--11">
          <img src="./images/photos/el-11.jpg" alt="erotic cake" />
        </li>
        <li class="gallery__item--12">
          <img src="./images/photos/el-12.jpg" alt="birthday cake" />
        </li>
      </ul>
    </div>
  </div>
</section>
