.footer {
    background-color: $first-background-color;
}

.footer__logo {
    @include mobile {
        
        text-align: center;

    }    
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 160px 0 70px;

    @include tablet {
        padding: 100px 0 35px;
    }

    @include mobile {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 35px;
        padding: 60px 0 15px;
    }
}

.footer__wrap > div {
    flex-basis: calc(100%  / 4);
}

.footer__logo p {
    font-size: 15px;
    line-height: 24px;
    color: $first-text-color;

    @include tablet {
        font-size: 12px;
        }
}

.logo-color {
    color: $accent-color;
}

.footer__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: $first-text-color;

    @include tablet {
            font-size: 15px;
        }

                @include mobile {
                    margin-bottom: 18px;
                    text-align: center;
                }

}

// .footer__menu {
//     @include mobile {

//     }
// }

.footer__menu--list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    font-size: 15px;
    line-height: 1.26;
    color: $accent-color;

    @include tablet {
            font-size: 12px;
        }

                @include mobile {
                    align-items: center;
                }

}

.footer__menu--list > li {
    transition: color $transition-time $cubic;
}

.footer__menu--list > li:hover,
.footer__menu--list > li:focus {
    color: $first-text-color;
}

.footer__contacts--list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    font-style: normal;
    font-size: 15px;
    line-height: 1.26;
    color: $first-text-color;

    @include tablet {
            font-size: 12px;
        }

                @include mobile {
                    align-items: center;
                }
}

.footer__contacts--list a {
    color: $accent-color;
    transition: color $transition-time $cubic;
}

.footer__contacts--list a:hover,
.footer__contacts--list a:focus {
    color: $first-text-color;
}

.footer__descr > p {
    font-size: 14px;
    line-height: 1.71;
    color: $first-text-color;

    @include tablet {
            font-size: 11px;
        }
}

.social__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.social__footer--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    fill: #888888;

    transition: fill $transition-time $cubic;
}

.social__footer--icon:hover,
.social__footer--icon:focus {
    fill: $accent-color;
}

// scroll-up

.scroll-up {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $accent-color;
    color: rgba(255, 255, 255, 0.856);
    border-radius: 50px;
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    transform: translateY(25px);
}

.scroll-up--active {
    visibility: visible;
    opacity: 0.7;
    transform: translateY(0);
}