<section class="cake-feeling">
  <div class="container">
    <div class="cake-feeling-wrapper">
      <h2 class="cake-feeling-title">Начинки</h2>
      <div class="cake-feeling-container">
        <ul class="cake-feeling-list">
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Фруктова</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/fruit-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Ванільний бісквіт просочений фруктовим сиропом, вершковий крем з
              персиком, ківі і апельсином.
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Сирна</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/chease-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Ванільний бісквіт просочений ароматним сиропом з сирно-лимонним
              кремом і персиком.
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Шоколадна</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/chock-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Шоколадний бісквіт з какао бобів просочений ванільним сиропом в
              поєднання з шоколадним кремом
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Шоколадна смородина</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/smor-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Соковитий шоколадний бісквит з прошарком кюлі смородини та ніжним
              шоколадним кремом.
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Вишня в шоколаді</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/cherry-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Шоколадний бісквіт просочений вишневим сиропом з шоколадним кремом
              і вишнею.
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Горіхова</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/nuts-1.jpg" alt="Cake fruit" />
            </div>
            <p class="cake-feeling-list__text">
              Ароматний бісквіт з фірмовим мигдальним кремом на основі арахісу і
              мигдалю.
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Манго-Малина</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/mango.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Шифоновий м’ятний бісквіт, чізкейк манго, кюлі малина, крем-чіз
              Буко
            </p>
          </li>
          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Снікерс</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/snickers.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Брауні, нуга туррон (Іспанія), солона карамель, горіховий
              крем-чіз.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Червоний оксамит</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/oks.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Бісквіт Red Velvet Cake, конфі полуниця, ванільний крем
              маскарпоне.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Рафаелло</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/rafaello.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Бісквіт Red Velvet Cake, конфі полуниця, ванільний крем
              маскарпоне.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Столична</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/cap.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Класичні хрусткі коржі з смаженим фундуком і прошарком
              заварного-шоколадного крему «шарлот». Оригінальний смак легенди.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Ммммм-Малина</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/raspberry.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Хрустка меренга з додаванням запечених волоських горіхів, з
              ароматним малиновим конфітюром і крем-сиром на основі улюбленої
              Філадельфії.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Апельсинова</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/orange.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Легкий мусовий торт на основі лайма з прошарком апельсинового
              курта з додаванням цедри апельсина на хрусткому мигдальному
              дакуазе.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Три шоколада</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/three-choc.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Торт для цінителів шоколаду, на основі трьох шоколадних мусів з
              бельгійського чорного, молочного, білого шоколаду і шоколадний
              бісквіт.
            </p>
          </li>

          <li class="cake-feeling-list__item">
            <h3 class="cake-feeling-list__title">Полунична</h3>
            <div class="img-wrapper">
              <img src="./images/feelings/strawberry.jpg" alt="Cake fruit" />
            </div>
            <p class="premium">PREMIUM начинка</p>
            <p class="cake-feeling-list__text">
              Мус з бельгійського білого шоколаду в поєднанні з прошарком
              полуничного кулі на подушці соковитого шифонового ванільного
              бісквіту.
            </p>
          </li>
        </ul>
      </div>

      <div class="descr-feeling">
        <ul class="descr-feeling-list">
          <li class="descr-feeling-list__item">
            Пропонуємо до Вашої уваги <strong> торти на замовлення</strong>.
            Наша кондитерська компанія виконує роботу в найкоротший термін на
            вищому рівні. Слід завжди пам’ятати, що на кожному святі, незалежно
            від його урочистості, має бути дуже смачний торт. Тільки ми із
            задоволенням зможемо підібрати необхідний торт у відповідності до
            Вашого побажання. У нашому асортименті є торти, виготовленні на
            різноманітні тематики. Дитячі, весільні, ювілейні, святкові торти
            відмінно підійдуть до будь-якої важливої дати. Кожна із цих тематик
            може мати необмежену фантазію, що дозволяє створювати незвичайний і
            незабутній витвір. Тематичні торти включають у себе великий вибір
            кондитерських витворів для різних заходів, будь то Новий рік чи
            Восьме березня. Весільні яскраві незабутні торти допоможуть
            відсвяткувати солодкий початок життя молодят. Обираючи ювілейний
            торт, треба бути дуже уважним, тому що це велика дата. Саме тому
            торт має бути особливим.
          </li>
          <li class="descr-feeling-list__item">
            Для дитячого свята Ви можете придбати
            <strong> торт на замовлення</strong>, який стане незабутнім у цей
            день. Під час вибору дитячого торта слід проявити винахідливість,
            при необхідності запитати у дитини, який саме торт їй до вподоби.
            Якщо Ви вирішили зробити сюрприз, але не знаєте, як саме буде
            виглядати торт, наші спеціалісти з радістю допоможуть підібрати
            кондитерський винахід, який обов’язкової сподобається Вашій дитині.
            Яскраво прикрашений торт із різноманітними візерунками і фігурками
            мультиплікаційних супергероїв принесе багато позитивних емоцій
            Вашому малюкові. Такий подарунок запам’ятається на довго.
          </li>
          <li class="descr-feeling-list__item">
            Завдяки інтернету, замовлення торта відбувається дуже просто. Якщо
            натиснути мишкою на потрібну кнопку, то можна здійснити замовлення
            або залишити відгук на сайті, після якого ми зв’яжемося з Вами.
            Також ми займаємося доставкою на дім.
          </li>
          <li class="descr-feeling-list__item">
            Якщо Ви вирішили придбати
            <strong> торт на замовлення </strong>Київ,то можете вдосталь
            пофантазувати, а наші спеціалісти з радістю втілять фантазію під час
            своєї високоякісної роботи. Ви зможете обрати будь який колір, форму
            і розмір Вашого торта.
          </li>
          <li class="descr-feeling-list__item">
            У більшості випадків у найвідповідніший момент свята не вистачає
            слів і дуже важко висловити всі свої емоції і подяку.
            <strong> Торти на замовлення</strong> Київ стануть найкращою
            альтернативою цьому. Завдяки натуральним інгредієнтам і якісним
            продуктам, торт сподобається кожному, хто завітає на свято. Вартість
            буде змінюватися відповідно до розміру і ваги торта, кількості
            складних деталей, об’єму роботи. Продукція наших майстрів приємно
            здивує Вас незвичайним, цікавим дизайном та хорошою якістю
            приготування. Всі елементи і фігурки, які застосовуються для
            прикрашання торта, є їстівними. Завдяки цьому торт стає справжнім
            солодким шедевром.
          </li>
          <li class="descr-feeling-list__item">
            Ми допоможемо Вам обрати чи створити необхідний торт, який приведе у
            приємний захват всіх оточуючих. Торт прикрасить свято, подарує всім
            багато позитивних емоцій і залишиться у пам’яті на довго. Наша
            кондитерська з величезним задоволенням допоможе Вам, і зробить саме
            для Вас яскраві святкові торти. Ми дуже уважно Вас вислухаємо і
            зробимо все необхідне для створення високоякісного торта.
          </li>
          <li class="descr-feeling-list__item">
            Всі гості завжди чекають найголовнішого десерту. Дуже важливо,
            насамперед, оформлення торта і його смак. Саме за смак весільного
            кондитерського витвору мають відповідати професіонали, які готували
            торт. Замовлення тортів – це величезний вибір кондитерських
            витворів, які можна використати на будь яке свято, не тільки
            весілля. Торти матимуть один або багато ярусів, кожен з яких буде
            унікальним на смак. Це дуже здивує і порадує Ваших гостів.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
