<div class="feeling">
  <div class="container">
    <div class="feeling__wrap">
      <div class="feeling__row">
        <h2 class="feeling__row--title">Начинки</h2>
        <a href="#" class="feeling__row--link">Всі начинки</a>
      </div>
      <ul class="feeling__list">
        <li class="feeling__item">
          <img src="./images/feelings/fruit.jpg" alt="fruit" />
          <p class="feeling__text">Фруктова</p>
        </li>
        <li class="feeling__item">
          <img src="./images/feelings/chease.jpg" alt="cheese" />
          <p class="feeling__text">Творожна</p>
        </li>
        <li class="feeling__item">
          <img src="./images/feelings/chock.jpg" alt="chocolate" />
          <p class="feeling__text">Шоколадна</p>
        </li>
        <li class="feeling__item">
          <img src="./images/feelings/smor.jpg" alt="currant" />
          <p class="feeling__text">Шоколадна смородина</p>
        </li>
        <li class="feeling__item">
          <img src="./images/feelings/cherry.jpg" alt="cherry" />
          <p class="feeling__text">Вишня в шоколаді</p>
        </li>
        <li class="feeling__item">
          <img src="./images/feelings/nuts.jpg" alt="cherry" />
          <p class="feeling__text">Горіхова</p>
        </li>
      </ul>
    </div>
  </div>
</div>
